<div class="reservations-container m-2 p-2">
    <h6 *ngIf="myReservations.length === 0">You have not yet made a reservation!</h6>
    <div class="resource-list" *ngIf="myReservations.length >0">
        <ul class="list-group list-group-horizontal list-unstyled d-flex flex-wrap flex-grow-1 flex-shrink-1 m-2 p-2 w-auto">
            <li class="list-group-items m-2 p-2" *ngFor="let reservation of myReservations">
                <div class="card" style="width:18rem;">
                    <img src="" class="card-img-top" alt="{{reservation.name}}">
                    <div class="card-body">
                        <h5 class="card-text">Check-In at : {{reservation.startTime}}</h5>
                        <p class="card-text">Check-Out at : {{reservation.endTime}}</p>
                        <p class="card-text">Capacity : {{reservation.resource.capacity}}</p>
                        <p class="card-text">Description : {{reservation.resource.description}}</p>
                        <p class="card-text">Name : {{reservation.resource.name}}</p>
                        <p class="card-text">Location : {{reservation.resource.location}} 
                            <a href="#"><i class="bi bi-geo-alt"></i>{{reservation.location}}</a>
                        </p>
                        <br>
                        <button class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#updateReservationForm">Reschedule Reservation</button>
                        <button class="btn btn-dark m-2" (click)="OnCancelClicked(reservation)">Cancel Reservation</button>
                        <app-delete-my-reservation  *ngIf="showcancelreservationform && selectedReservation === reservation"></app-delete-my-reservation>
                    </div>
                </div>
            </li>
        </ul>
</div>

<div class="modal fade" id="updateReservationForm" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form m-auto">
                <div class="modal-header m-2 p-2">
                    <h5 class="modal-title m-2 p-2" id="formmodalLabel">Reschedule Here!</h5>
                    <button type="button" class="btn btn-close m-2 p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="starttime m-2 p-2">
                    <label>StartTime</label>
                    <input type="date" class="form-control" placeholder="reschedule arrival" name="startTime" ngModel>
                </div>
                <div class="endtime m-2 p-2">
                    <label>EndTime</label>
                    <input type="date" class="form-control" placeholder="reschedule arrival" name="endTime" ngModel>
                </div>
                <button type="submit" class="btn btn-dark m-2 p-2" data-bs-dismiss="modal" (click)="OnRescheduleClicked()">Reschedule</button>
            </form>
        </div>
    </div>
</div>