<div class="registraion-form-step-one-container border shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
    <form>
        <div class="input-box">
            <label for="uname">Username</label>
            <input class="form-control" type="text" placeholder="Username" id="uname" minlength="8" name="username" [(ngModel)]="model.username" required>
        </div>
        <div class="input-box d-inline-block">
            <label for="pswd">Password</label>
            <input class="form-control" type="password" placeholder="Enter your Password" id="pswd" minlength="8" name="password" [(ngModel)]="model.password" required>
        </div>
        <div class="input-box d-inline-block">
            <label for="cnfpswd">Confirm Password</label>
            <input class="form-control" type="password" placeholder="Confirm your Password" id="cnfpswd" minlength="8" name="confirmpassword" [(ngModel)]="confirmPassword" required>
        </div>
        <div *ngIf="model.password && confirmPassword && model.password!==confirmPassword" class="text-danger">
            Passwords do not match!
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I agree with the terms and conditions.</label>
        </div>

        <div class="previous-step d-flex justify-content-center mt-4" (click)="prev.emit()">
            <i class="bi bi-arrow-left-circle-fill display-3 text-primary"></i>
            <button type="submit" class="btn btn-primary mx-5 py-2" (click)="OnFormSubmitted.emit()">Submit</button>
        </div>
    </form>
</div>