<div class="registraion-form-step-one-container border shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
    <form>
        <div class="input-box">
            <label for="username">Username</label>
            <input class="form-control" type="password" placeholder="Username" minlength="8" required>
        </div>
        <div class="input-box d-inline-block">
            <label for="password">Password</label>
            <input class="form-control" type="password" placeholder="Enter your Password" minlength="8" required>
        </div>
        <div class="input-box d-inline-block">
            <label for="confirmpassword">Confirm Password</label>
            <input class="form-control" type="password" placeholder="Confirm your Password" minlength="8" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I agree with the terms and conditions.</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>