<div class="registraion-form-step-one-container border shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
    <form >
        <div class="input-box d-inline-block">
            <label for="firstname">First Name</label>
            <input class="form-control" type="text" placeholder="Enter your Firstname" required>
        </div>
        <div class="input-box d-inline-block">
            <label for="lastname">Last Name</label>
            <input class="form-control" type="text" placeholder="Enter your Lastname" required>
        </div>
        <div class="input-box">
            <label for="email">Email</label>
            <input class="form-control" type="email" placeholder="Enter your Email" required>
        </div>
        <div class="input-box">
            <label for="dob">Date Of Birth</label>
            <input class="form-control" type="date" placeholder="D.O.B">
        </div>
        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
                <div class="gender d-inline-block">
                    <input type="radio" id="check-male" name="gender" checked />
                    <label for="check-male">male</label>
                </div>
                <div class="gender d-inline-block">
                    <input type="radio" id="check-female" name="gender" />
                    <label for="check-female">Female</label>
                </div>
                <div class="gender d-inline-block">
                    <input type="radio" id="check-other" name="gender" />
                    <label for="check-other">prefer not to say</label>
                </div>
            </div>
        </div>
    </form>
</div>
