<div class="home-container p-2 m-auto bg-body-tertiary">
    <div class="home-content border shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <h2>Make Reservation</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
            elit. Similique minus voluptate impedit quod fuga 
            autem tempora fugit, amet deleniti. Aperiam ab cum
             quaerat commodi suscipit ad. Pariatur quisquam 
             libero assumenda. Tempore quo reiciendis ipsam 
             mollitia culpa eveniet expedita hic, nisi atque 
             fugiat dolorem, corrupti animi velit a est ullam
              sapiente consectetur perferendis. Ducimus porro 
              quos neque perspiciatis velit animi iste assumenda,
               culpa dolorem facilis obcaecati dolorum possimus 
               quibusdam suscipit cum incidunt fugiat dignissimos
                minus! Quisquam dolorum facere quae sit amet ex 
                tenetur quia reiciendis eaque, 
                illum necessitatibus quo veritatis ipsa expedita
                 libero quis, accusamus at repudiandae? Quia quas 
                 quaerat labore.
        </p>
        <button class="btn btn-primary" routerLink="/resources">Resources</button>
    </div>
</div>
