<div class="user-dashboard-container">
    <div class="user-details m-2 p-2">
        <h2>Welcome {{userName}}</h2>
        <p><i class="bi bi-envelope"></i> {{userEmail}}</p>
    </div>
    <div class="my-reservations-list-container m-2 p-2">
        <h2>Make a Reservation Here!</h2>
        <div class="resources-container">
            <div class="visible-resources d-flex align-items-center">
                <button class="arrow-btn" (click)="prev()"><i class="bi bi-arrow-left-circle-fill"></i></button>
        
                <div class="card-container d-flex flex-wrap overflow-auto">
                    <div *ngFor="let resource of visibleResources" class="card mx-2" style="width: 18rem;">
                        <img [src]="resource.imageUrl" class="card-img-top" alt="{{resource.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{resource.name}}</h5>
                            <p class="card-text">{{resource.description}}</p>
                            <p>Capacity: {{resource.capacity}}</p>
                            <button class="btn btn-primary" (click)="OnReserveClicked(resource)">Reserve</button>
                            <app-create-reservation 
                                    [resource]="selectedResource"
                                    *ngIf="showCreateReservation && selectedResource === resource"
                            ></app-create-reservation>
                        </div>
                    </div>
                </div>
        
                <button class="arrow-btn" (click)="next()"><i class="bi bi-arrow-right-circle-fill"></i></button>
            </div>
            <div class="go-to-resources d-flex justify-content-center m-2 p-2">
                <button class="btn btn-dark" routerLink="/resources">See All Resources</button>
            </div>
            </div>
    </div>
    <div class="My-reservations-list-container m-2 p-2">
        <h2>My Reservations</h2>
        <app-my-reservations-list></app-my-reservations-list>
    </div>
</div>
