.active-label{
    text-decoration: underline;
    text-decoration-color:rgb(2, 179, 179) ;
    text-decoration-thickness:5px ;
    text-underline-offset: 8px;
}

.inactive-label{
    text-decoration: none;
}