<div class="registraion-form-main-container">
    <form>
        <div *ngIf="currentStep === 1">
            <label for="personalInfo">
                <h2>Personal Info</h2>
            </label>
            <app-step-one></app-step-one>
            
            <div class="next-step d-flex justify-content-center mt-4" (click)="GoToStep(2)">
                <i class="bi bi-arrow-right-circle-fill display-3 text-primary"></i>
            </div>
        </div>

        <div *ngIf="currentStep === 2">
            <label for="password">
                <h2>Login Credentials</h2>
            </label>
            <app-step-two></app-step-two>

            <div class="previous-step d-flex justify-content-center mt-4" (click)="GoToStep(1)">
                <i class="bi bi-arrow-left-circle-fill display-3 text-primary"></i>
            </div>
        </div>
    </form>
</div>
