<div class="registraion-form-main-container">
    <form>
        <label class="mx-3 p-2" for="personalInfo"
        [ngClass]="{'active-label':currentStep===1,'inactive-label':currentStep!==1}"
        (click)="GoToStep(1)">
            <h2>Personal Info</h2>
        </label>
        <label class="mx-3 p-2" for="password"
        [ngClass]="{'active-label':currentStep===2,'inactive-label':currentStep!==2}"
        (click)="GoToStep(2)">
            <h2>Login Credentials</h2>
        </label>
        <div *ngIf="currentStep === 1">
            <app-step-one 
            [model]="registrationData"
            (next)="nextStep()">
            </app-step-one>
        </div>

        <div *ngIf="currentStep === 2">
            <app-step-two 
            [model]="registrationData"
            (next)="nextStep()"
            (prev)="prevStep()"
            (OnFormSubmitted)="OnSubmitForm()">
            </app-step-two>
        </div>
    </form>
</div>
