<div class="create-resource-container m-4 p-2">
    <h2>Create/Add a new resource here!</h2>
    <form class="form">
        <div class="resource-name">
            <label>Resource Name</label>
            <input type="text" class="form-control" placeholder="Add Resource Name">
        </div>
        <div class="resource-name">
            <label>Resource Description</label>
            <input type="text" class="form-control" placeholder="Add Resource Name">
        </div>
        <div class="resource-name">
            <label>Capacity</label>
            <input type="text" class="form-control" placeholder="Add Resource Name">
        </div>
        <div class="resource-name">
            <label>Location</label>
            <input type="text" class="form-control" placeholder="Add Resource Name">
        </div>
        <div class="resource-name">
            <label>Updated At</label>
            <input type="text" class="form-control" placeholder="Add Resource Name">
        </div>
    </form>
</div>
