<div class="resources-container">
    <div class="resource-list" *ngIf="resources.length >0">
        <ul class="list-group list-group-horizontal list-unstyled d-flex flex-wrap flex-grow-1 flex-shrink-1 m-2 p-2 w-auto">
            <li class="list-group-items m-2 p-2" *ngFor="let resource of resources">
                <div class="card" style="width:18rem;">
                    <img src="" class="card-img-top" alt="{{resource.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{resource.name}}</h5>
                        <p class="card-text">{{resource.description}}</p>
                        <p class="card-text">Capacity : {{resource.capacity}}</p>
                        <p class="card-text">Price : {{resource.price}}</p>
                        <a href="#" class="link-info"><i class="bi bi-geo-alt m-2"></i>{{resource.location}}</a><br>

                        <a href="#" class="btn btn-primary" (click)="OnReserveClicked($event)" *ngIf="isUser">Reserve</a>

                        <a routerLink="#" class="btn link-success m-2 p-2" *ngIf="isAdmin" data-bs-toggle="modal" data-bs-target="#formModal" (click)="OnUpdateClicked(resource._id)"><i class="bi bi-pencil-square"></i>Update</a>
                        <a routerLink="#" class="btn link-danger m-2 p-2" *ngIf="isAdmin" (click)="OnDeleteClicked(resource._id)"><i class="bi bi-trash3"></i>Delete</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true" *ngIf="updatingResources">
        <div class="modal-dialog">
            <div class="modal-content">
        <form class="form m-2 p-2" #UpdateResourceForm="ngForm">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Update Resource Here!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>        
            </div>
            <div class="input-group mb-3 mt-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="img" ngModel>
                <label class="input-group-text" for="inputGroupFile02">Upload Resource Image</label>
            </div>
            <div class="resource-name">
                <label>Resource Name*</label>
                <input type="text" class="form-control" placeholder="Add Resource Name" required name="name" [(ngModel)]="selectedResource.name">
            </div>
            <div class="resource-name">
                <label>Resource Description*</label>
                <input type="text" class="form-control" placeholder="Add Resource Name" required name="description" [(ngModel)]="selectedResource.description">
            </div>
            <div class="resource-name">
                <label>Capacity*</label>
                <input type="text" class="form-control" placeholder="Add Resource Name" required name="capacity" [(ngModel)]="selectedResource.capacity">
            </div>
            <div class="resource-name">
                <label>Location*</label>
                <input type="text" class="form-control" placeholder="Add Resource Name" required name="location" [(ngModel)]="selectedResource.location">
            </div>
            <div class="resource-name">
                <label>Price*</label>
                <input type="text" class="form-control" placeholder="Add the price" required name="price" [(ngModel)]="selectedResource.price">
            </div>
            <button type="submit" class="btn btn-dark m-2 p-2 d-block w-100" data-bs-dismiss="modal"
                    [disabled]="UpdateResourceForm.invalid"
                    (click)="OnUpdateResourceClicked(UpdateResourceForm)">
                Update Resource</button>
        </form>
    </div>
    </div>
</div>
    

    <ng-template *ngIf="resources.length === 0">
        <p>No Resources Availabale!</p>
    </ng-template>
</div>
